

  <%= link_to 'New Skill', new_skill_path %>
  <p id="notice"><%= notice %></p>
  <h1>Skills</h1>
  <% @skills.each do |skill| %>
    <div class="skill">
      <div class="skill_image">
        <h1>X</h1>
      </div>
      <div class="skill_info">
        <div class="info_box">
          <div class="info">
            <p class="title"><%= skill.name %></p>
            <p class="author"><%= skill.detail %></p>
            <p class="category">Description: <%= skill.description %></p>
            <p><%= link_to 'Show', skill %></p>
            <p><%= link_to 'Edit', edit_skill_path(skill) %></p>
            <p><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>


<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= link_to 'Show', skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
