<p id="notice"><%= notice %></p>
<div class="col-md-2">
</div>
<div class="header row col-md-10">
  <div class="dev_header">
    <h2>DEVELOPMENT</h2>
  </div>
  <div class="des_header">
    <h2>DESIGN</h2>
  </div>
</div>


  <% @posts.each do |post| %>
    <div class="post">
      <div class="post_image">
        <%= image_tag( post.img_tag, :alt => "type", :class => "img-fluid") %>
      </div>
      <div class="post_info">
        <div class="info_box">
          <div class="info">
            <p class="title"><%= post.title %></p>
            <p class="author" >By: <%= post.author %></p>
            <p class="category">Category: <%= post.category %></p>
            <p class="category"> <%= link_to post.url %></p>
            <p class="content"><%= post.content %></p>
            <p><%= link_to 'Show', post %></p>
            <p><%= link_to 'Edit', edit_post_path(post) %></p>
            <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<!-- <table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.author %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
