<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/pgl3mcb.css">
  </head>

  <body>
    <div class="container-fluid">
      <div class="nav col-md-2">
        <div class="nav-image navbar-text">
          <%= image_tag( "avatar.svg", :alt => "type", :class => "img-fluid") %>

        </div>

        <div class="navbar-text brand">
          <div>
            <h2>Eric Shull</h2>
          </div>
          <div class="small">
            <h2><small>Web Developer</small></h2>
          </div>
        </div>
        <div class="navbar-text">
          <h2><%= link_to "Projects", posts_path %></h2>
        </div>
        <div class="navbar-text">
          <h2><%= link_to 'Skills', skills_path %></h2>
        </div>
        <div class="navbar-text">
          <h2><%= link_to 'About', about_path %></h2>
        </div>
      </div>
      <div class="col-md-10">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

      </div>

    </div>
    <%= render "layouts/shared/footer" %>
  </body>
</html>
